<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <style>
    * {
      margin: 0;
    }
    .container {
      width: 100%;
      margin: auto;
      padding-bottom: 50px;
    }
    .login-btn {
      background-color: crimson;
      color: #ffffff;
      text-decoration: none;
      padding: 10px;
      font-size: 8px;
    }
  </style>
  <body>
    <table class="container">
      <tr>
        <td>
          <table width="600" style="margin: auto">
            <td style="background-color: white; align: center">
              <p style="color: #0000; font-size: 45px; font-weight: bold">
                welcome to send it
              </p>
            </td>
          </table>
        </td>
      </tr>
      <tr>
        <td style="padding: 20px">
          <table width="600" style="margin: auto">
            <tr>
              <td>
                <img
                  src="https://cdn.pixabay.com/photo/2018/05/14/16/54/cyber-3400789_1280.jpg"
                  alt="image"
                />
                <h2 style="font-size: 35px">Hello <%=name%></h2>
                <p
                  style="
                    color: black;
                    font-size: 30px;
                    margin: 10px 0;
                    font-weight: 400;
                  "
                >
                  Congradualtions for subs
                </p>
                <p
                  style="
                    color: black;
                    font-size: 30px;
                    margin: 10px 0;
                    font-weight: 400;
                    max-width: 500px;
                  "
                >
                  Welcome
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td>
          <table width="600" style="margin: auto"></table>
        </td>
      </tr>
    </table>
  </body>
</html>
